@charset "utf-8";

.h2_center{
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.6;
    font-weight: 700;
}
.p_center{
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.6;
    margin-top: 10px;
}
.section_btn{
    display: block;
    margin: 0 auto;
    width: 224px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
}

/* main - visual */
.right_mobile .visual{
    display: flex;
    padding-top: 108px;
}
@media all and (min-width:800px){
    .right_mobile .visual{
        padding-top: 48px;
    }
}
.right_mobile .visual>div{width: 50%;}
.right_mobile .visual .vis_txt{
    padding-left: 5%;
}
.right_mobile .visual .vis_txt p{
    font-size: 1.4rem;
    line-height: 1.4;
}
.right_mobile .visual .vis_txt p:first-child{
    margin-bottom: 28px;
}
.right_mobile .visual .vis_txt a{
    display: block;
    width: 165px;
    height: 32px;
    margin-top: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
}
.right_mobile .visual .vis_img{
    margin-top: -20px;
}

.right_mobile .share{
    padding: 78px 0;
}
.right_mobile .share p{
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.6;
}

/* slide banner */
.right_mobile .banner{
    padding-bottom: 78px;
}
.right_mobile .banner .bnr_slide{
    width: 90%;
    height: 160px;
    border-radius: 10px;
    display: flex;
}

.right_mobile .bnr_slide .bnr_icon{
    width: 34.5%;
}
.right_mobile .bnr_slide .bnr_icon .circle{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background: #fff url(../img/slide_2.svg) no-repeat center/contain;
    background-size: 63%;
    margin: 28px 0 0 13px;
}
.right_mobile .bnr_slide .bnr_icon .circle2{
    background-image: url(../img/slide_1.svg);
}
.right_mobile .bnr_slide .bnr_icon .circle3{
    background-image: url(../img/slide_3.svg);
}
.right_mobile .bnr_slide .bnr_icon .circle4{
    background-image: url(../img/slide_4.svg);
}

.right_mobile .bnr_slide .bnr_txt{
    width: 65.5%; /* 224 / 342 */
    padding-top: 27px;
}
.right_mobile .bnr_slide .bnr_txt_long{
    padding-top: 19px;
}
.right_mobile .bnr_slide .bnr_txt h2{
    font-size: 1.7rem;
    font-weight: 700;
}
.right_mobile .bnr_slide .bnr_txt p{
    width: 92%; /* 206 / 224 */
    margin: 10px 0 13px;
    font-size: 1.3rem;
    line-height: 1.6;
}
.right_mobile .bnr_slide .bnr_txt a{
    font-size: 1.3rem;
    border-bottom: 1px solid #f29c9c;
}
.right_mobile .bnr_slide .bnr_txt a:after{
    content: '';
    display: inline-block;
    background: url(../img/right-arrow.svg) no-repeat center/contain;
    width: 20px;
    height: 13px;
    vertical-align: -1px;
}

/* slider pagination */
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 54px;
}
.swiper-pagination-bullet-active{
    background: #f29c9c;
}

/* wreath */
.wreath{
    padding-bottom: 44px;
}

.wreath .wr_inner .wr_img_wrap{
    display: flex;
    margin: 26px 0 36px;
}
.wreath .wr_inner .wr_img_wrap>div p{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 9px;
}

/* qr */
.qr{
    padding: 40px 0;
}
.qr .qr_inner .qr_img{
    width: 250px;
    margin: 36px auto;
}

/* footer - main */
.main_footer{
    padding: 30px 0 38px;
}
.main_footer p{
    text-align: left;
}

.tel{
    margin-bottom: 28px;
}
.tel p:first-child{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 7px;
}
.tel p:first-child a{
    margin-left: 5px;
}
.copy ul{
    margin-bottom: 7px;
}
.copy ul li{
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1.2;
}
.copy ul li:nth-child(2):before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 10px;
    background: #696A6C;
}
.copy ul:nth-child(2) li:last-child{
    margin: 7px 0 13px;
}
.copy ul li a{
    font-size: 1.2rem;
    font-weight: 700;
}
.main_footer .copy p{
    font-size: 1rem;
}

